html, body{
  margin: 0;
  padding: 0;
  min-height:100%;
}

.App {
  text-align: center;
}
.not-signed-in{
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-anchor-shortcut{
  position:fixed;
  bottom: 2rem;
  right: 2rem;
}
.logout-button{
  margin-left: 2rem;
}

section{
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.cardGrid {
  display:flex;
  justify-content: space-evenly;
}
.card{
  min-width: 20vw;
  transition: width 800ms, transform .5s;
}
.card-header{
  display:flex;
  justify-content:space-between;
  align-items: center;
  margin: 0;
}
form{
  margin: 0 auto;
  max-width: 70vw;
}

#div-important{
  display:flex;
  margin:1.5rem;
  justify-content: center;
}
#div-important>label{
  margin:auto 1.5rem;
}

#formImportant{
  margin:auto 0;
}

.class-transform:hover{
    transform: scale(1.05)
} 

#loginForm{
  justify-content:center;
  align-items:center;
  
}

#loginCard{
    margin-bottom: 20px;
    border: none
}

.box{
    width: 450px;
    padding: 40px;
    background: #191919;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}

.box input[type="text"],
.box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus{
  width: 300px;
  border-color: #2ecc71;
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer
}

.box input[type="submit"]:hover {
  background: #2ecc71
}
