body{
  height: 100%;
}
.App {
  text-align: center;
}
.not-signed-in{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-anchor-shortcut{
  position:fixed;
  bottom: 2rem;
  right: 2rem;
}
.logout-button{
  margin-left: 2rem;
}

section{
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.cardGrid {
  display:flex;
  justify-content: space-evenly;
}
.card{
  min-width: 20vw;
  transition: width 800ms;
}
.card-header{
  display:flex;
  justify-content:space-between;
  align-items: center;
  margin: 0;
}
form{
  margin: 0 auto;
  max-width: 70vw;
}

#div-important{
  display:flex;
  margin:1.5rem;
  justify-content: center;
}
#div-important>label{
  margin:auto 1.5rem;
}

#formImportant{
  margin:auto 0;
}
